body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.character {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  width: 1100px;
  text-align: center;
}

.character-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}


.character {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 8px;
  width: 15px;
  text-align: center;
}

.character-image {
  width: 1px;
  height: 1px;
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 5px;
}

/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
}

#character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.character {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    background-color: #87a7ab;
}

.character-image {
    width: 10px;
    height: 10px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

img {
  width: 10px; /* Adjust the width to make it smaller */
  height: 10; /* This will keep the aspect ratio */
}

